{% extends "base.html"%}
{% block title %}Brown Spatial Explorer{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src='{{url_for('static', filename="jQuery/js/jquery-1.9.1.js")}}'></script>
    <script src='{{url_for('static', filename="jQuery/js/jquery-ui-1.10.3.custom.js")}}'></script>
    <link href='{{url_for('static', filename="jQuery/css/ui-lightness/jquery-ui-1.10.3.custom.css")}}' rel="stylesheet">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <style type="text/css">


#map { 
    height: 1000px; 
}

#circles circle {
    fill: steelblue;
    stroke: darkblue;
    stroke-width: 1px;
    padding: 2px;
    fill-opacity: .8;
    z-index: 10;

}

h1 {
   color: #333;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration:none;
}

#searchedBox {
    height: 200px;
    width:300px;
    overflow:scroll;
    float:left;
    padding-left: 10px;
}

#slider_buttons_div {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
   color: darkblue;
    top:30%;
     position: fixed;
    height: 120px;
    width: 260;
    z-index: 100;
    right: 0%;
}

#slider {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: darkblue;
    top:45%;
    position: fixed;
    z-index: 100;
    right: 1%;
    height: 10px;
    width: 260px;
    margin-top: 10px;
}

#labelDiv {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: darkblue;
    top:50%;
    position: fixed;
    z-index: 100;
    right: 0%;
    height: 10px;
    width: 275px;
    margin-top: 10px;
}
.fixedDiv {
    top: 30%;
    left:0%;
    position: fixed;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: darkblue;
    height: 120px;
    width: 150px;
    z-index:100;
}

.searched_box_buttons { 
    background:none;
    border:none; 
}


#text{
    background-color: white;
    z-index: 1000000;
    position: relative;
}
        </style>
{% endblock %} <!-- end scripts in header -->

{% block content%}
            <div id="text">
                <h2>Sites of New World Publishing, 1535-1800</h2>
                <p>This map shows the location of printing presses in the Americas from 1535 to 1800 and gives a rough visual estimate of each location's published output. Data provided by <a target="_blank" href="http://library.brown.edu/">The Brown University Library</a> and <a target="_blank" href="http://www.brown.edu/academics/libraries/john-carter-brown/">The John Carter Brown Library</a>.</p>
                <p>Use the Slider to set the date range and click on any location on the map to see all books published in that range and at that location</p>
                <p>Use the Search Box to search for locations or books. Click on searched books to go to their library records. </p>
                <p>Built with the <a target="_blank" href="http://d3js.org">d3.js </a> and <a target="_blank" href="http://leafletjs.com">leaflet.js </a>  javascript libraries </p>
            </div>

            <div id="wrapper">
                <div id="slider_buttons_div" align:"right">
                    <button id="singleSlideButton" onclick="slide(0,10)" style="opacity:1;"> Single Slide </button> 
                    <button id="doubleSlideButton" onclick="slide(10,10)" style="opacity:1;"> Double Slide </button> 
                    </br>
                    <button id="slider_start_button" onclick="set_slider()" style="opacity:1;"> Set Left: </button> 
                    <input id="slider_start_box" type="textbox" id ="text" style="width:50px" value="1535"> </input> 
                    </br>
                    <button id="slider_end_button" onclick="set_slider()" style="opacity:1;"> Set Right: </button> 
                    <input id="slider_end_box" type="textbox" id ="text" style=" width:50px" value="1800"> </input>
                    <div id="slider"> </div> 
                    <br>
                    <div style="float:right">
                        Library:</br>
                        <label> <input type="checkbox" id="Hay_Check" onchange="check_classifier()" checked> Hay </label> </br>
                        <label> <input type="checkbox" id="JCB_Check" onchange="check_classifier()" checked>JCB</label> </br>
                        <!--Language:</br>
                        <label> <input type="checkbox" id="English" onchange="check_classifier()" checked> English </label> </br>
                        <label> <input type="checkbox" id="Spanish" onchange="check_classifier()" checked> Spanish</label> </br> -->
                    </div>
                </div>
                <div id="labelDiv" position:"absolute"></div>
                <div class="fixedDiv" align:"center">
                    <div id="Buttons" align:"center">
                        Search: </br>
                        <input id="searchBox" type="textbox" id ="text"> </input>
                        </br>

                        <button class = "search_button" onclick="Search('place')" > By Place </button> </br>
                        <button class = "search_button" onclick="Search('book')"> By Book </button> </br>
                        <button class = "search_button" onclick="Search('author')"> By Author </button> </br>
                        <input type="checkbox" id="voronoi"> <label for="voronoi"> show Voronoi </label>
                        </br>
                    </div>
                    <div id="searchedBox" align:"center"> </div>
                </div>
                <div id="map"></div>
            </div>



            <script type="text/javascript">
            /*
                This section of the script is the map and svg stuff
            */
            //Draw the Map using the MapBox Tiling - Do not change order here!
            var map = L.map('map').setView([15.49, -101.25], 4);
            L.tileLayer('http://{s}.tiles.mapbox.com/v3/danshiebler.ip7j62mf/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18
            }).addTo(map);
            map._initPathRoot();
            //SVG Object that D3 circles lie on top of
            var svg = d3.select("#map").select("svg"),
                g = svg.append("g");

            /*
                This section of the script is the variable declarations
            */

            /*This hash table holds the json locations in a simple dictionary
                Keys - Simplified place names
                Values - Location objects
                Location objects have all of the attributes of the json object, and also have the following attributes
                - Highlighted: This attribute is true if the location's circle is currently highlighted
                - polygon: This attribute holds the voronoi polygons associated with this location
                --If a location does not include any books published during the slider time frame, then:
                    location_dict(simplify_string(d.properties.name)) == 0 
                    -> Note that such a location is not included in names
            */
            var location_dict = {}; 
            //This array stores the unsimplified names of the location (unsimplified keys of location_dict) -> only locations that have books published in the current time period are included
            var names = [];
            //This array stores the book objects
            var book_array = [];
            //this dict accepts an author's name and returns an array of all books he published
            var author_dict = {};
            //This array stores the positions for drawing the voronoi (in x,y coordinates)
            var positions = [];
            var polygons = [];
            //Stores the names of the currently highlighted locations

            //Stores the current slider values
            var slider_left_limit = 1535;
            var slider_right_limit = 1800;

            var slider_start = slider_left_limit;
            var slider_end = slider_right_limit;
            //the time it takes for the circles to appear
            var fade_duration = 1000;
            var sliding = false;
            //The time lapses between slider rendering
            var slide_interval = 300;
            //indicates whether there are circles on the map yet
            var circles_drawn = false;
            //Arrays that contain currently included languages and librarys
            var library_array = ["hay","jcb"];
            var language_array = ["spanish","english"];
            //JSON Files that the script uses
            var Geo_Json_Locations = '{{url_for('static', filename="data/2014-08-18-Brown-GeoJson-Locations.json")}}'
            var Json_Books = '{{url_for('static', filename="data/2014-08-18-Brown-Hay-JCB-Books.json")}}';


            /*
                This section of the script moniters basic HTML events
            */

            //moniters when the checkboxs are checked
            d3.select("input[id=voronoi]").on("change", function() {
                toggle_voronoi();
            });

            /*
                This section of the script draws the basic map, circles and voronoi
            */

            d3.json(Geo_Json_Locations, function(locations) {
                //This jQuery code initializes the slider
                $(document).ready(function(){
                    $("#slider").slider({ values: [slider_start,slider_end]});
                    $("#slider").slider({ min: slider_start});
                    $("#slider").slider({ max: slider_end});
                    //leftmost element label
                    $( "#labelDiv" ).append($('<label id="leftLabel">'+(slider_start)+'</label>').css("float","left"));
                    $( "#labelDiv" ).append($('<label id="rightLabel">'+(slider_end)+'</label>').css("float","right"));
                    $("#slider").on( "slidechange", function(event,ui) {
                        Minimum = $("#slider").slider("values",0);
                        Maximum = $("#slider").slider("values",1);
                        slider_start = Math.min(Minimum,Maximum);
                        slider_end = Math.max(Minimum,Maximum);
                        document.getElementById("leftLabel").innerHTML = slider_start; //blue labels
                        document.getElementById("rightLabel").innerHTML = slider_end;
                        document.getElementById("slider_start_box").value = slider_start; //white textboxes
                        document.getElementById("slider_end_box").value = slider_end;
                        reset_map();
                    });
                });
                //setup the location_dict
                locations.rows.forEach(function(d,i) {
                    //Place the location into the hash table
                    //radius is based on a logarithmic scale
                    location_dict[simplify_string(d.properties.name)] = d;
                    location_dict[simplify_string(d.properties.name)].num_books_in_range = d.properties.books.length;
                    location_dict[simplify_string(d.properties.name)].max_circle_radius = Math.ceil(Math.log(d.properties.books.length+1),1)*2; 
                    coordinates = [d.geometry.coordinates[1],d.geometry.coordinates[0]];
                    location_dict[simplify_string(d.properties.name)].coordinates = coordinates;
                    //Set Highlighted to False
                    location_dict[simplify_string(d.properties.name)].Highlighted = false; 
                    layer_point = map.latLngToLayerPoint(coordinates);
                    d.geometry.coordinates = coordinates;
                    names[i] = location_dict[simplify_string(d.properties.name)];
                    layer_point = map.latLngToLayerPoint(coordinates);
                    positions[i] = [layer_point.x, layer_point.y];
                });
                //Draw Circles
                var circles = g.selectAll("circle")
                    .data(names
                        //the circles' locations are determined here
                        .sort(function(a, b) {
                            return b.properties.books.length - a.properties.books.length; 
                        })
                    )
                    .enter()
                    .append("circle")
                    .attr("transform", function(d,i) { 
                        //the circles' final sizes are determined 
                        layer_point = map.latLngToLayerPoint(location_dict[simplify_string(d.properties.name)].coordinates);
                        return "translate(" + [layer_point.x, layer_point.y] + ")"; 
                    })
                    //Here we assign a class to the circle, which allows us to select it and change its color on mouseover later
                    .attr('id',function(d,i){
                        //Assign an id. 
                        var id = simplify_string(d.properties.name);

                        return id;
                    })
                    .attr("r",0)
                    .style("opacity", .6) 
                    .style("stroke",.2)
                    .style("fill", "blue");
                //This needs to be separate for some reason that I cannot fathom.
                circles.transition()
                    //The transition takes one second
                    .duration(500)
                    //Here we set the radius of the circle element
                    .attr("r", function(d) { 
                        //if there are no books at that place in the current parameter window - radius is 0
                        if (location_dict[simplify_string(d.properties.name)] === 0){
                            return 0;
                        } else {
                            //if there are books at that place in the current window - radius is proportional to number of books - determined   in reset_map
                            return location_dict[simplify_string(d.properties.name)].max_circle_radius;
                        };
                    });
                //reshapes circles when map resizes
                map.on("viewreset", update);          
                //Not sure why I need to do this again
                locations.rows.forEach(function(d,i) {
                        names[i] = location_dict[simplify_string(d.properties.name)];
                });
                polygons = d3.geom.voronoi(positions);
                for (var i=0;i<polygons.length;i++){//i polygons
                    if (typeof polygons[i] != 'undefined') {
                        latlngs = []; //latlng for polygon i
                        for (var j=0;j<polygons[i].length;j++){ //j points in polygon i
                            latlng_point = map.layerPointToLatLng(polygons[i][j]);
                            latlngs[j] = [latlng_point.lat,latlng_point.lng];
                        }
                        location_dict[simplify_string(names[i].properties.name)].polygon = L.polygon(latlngs, {
                            fillOpacity: 0, //polygons made invisible
                            weight: document.getElementById("voronoi").checked*.5,//polygon edges shown if box is checked 
                            color: 'black',
                            zIndexOffset: -100000000,
                            className: names[i].properties.name
                        }).addTo(map); 
                        //EventListeners - respond to clicking or mousing over the voronoi diagram
                        location_dict[simplify_string(names[i].properties.name)].polygon.on('click',voronoi_click);
                        location_dict[simplify_string(names[i].properties.name)].polygon.on('mouseover',voronoi_mouseover);
                    } else { //This is a hack to make sure that even the data with errors in them have voronoi diagrams
                        location_dict[simplify_string(names[i].properties.name)].polygon = L.polygon([[0,0],[0,0],[0,0]], {
                            weight: 0.5,
                        }).addTo(map); 
                    }
                }

                /* 

                 Internal Function Section 

                 */
                function update() {
                    circles.attr("transform", function(d) { 
                            return "translate("+ 
                            map.latLngToLayerPoint(d.geometry.coordinates).x +","+ 
                            map.latLngToLayerPoint(d.geometry.coordinates).y +")";
                        }
                    )
                }
                function reset_map(){
                    //clear arrays and stuff
                    for (var i=0;i<positions.length;i++){
                        map.removeLayer(location_dict[simplify_string(names[i].properties.name)].polygon);
                    }
                    remove_highlights();//make all highlighted regions no longer highlighted
                    positions.length = 0; //clear arrays and location_dict
                    names.length = 0;
                    index = 0;
                    locations.rows.forEach(function(d,i) {
                        simp_name = simplify_string(d.properties.name); // to make code a little easier to read
                        num_books_in_range = num_books_published(d,slider_start,slider_end) // number of books published in slider range at this location
                        //These readjust the size of the circle
                        location_dict[simp_name].num_books_in_range = num_books_in_range;
                        if (num_books_in_range>0){
                            location_dict[simp_name].max_circle_radius = Math.ceil(Math.log(num_books_in_range+1),1)*2;
                            coordinates = location_dict[simp_name].coordinates;
                            layer_point = map.latLngToLayerPoint(coordinates);
                            positions[index] = [layer_point.x, layer_point.y];
                            names[index] = location_dict[simp_name];
                            index = index + 1;
                        } else {
                            location_dict[simp_name].max_circle_radius = 0;
                        }
                    });
                    //Resize the circles using d3
                    circles.transition()
                        //The transition takes one second
                        .duration(500)
                        //Here we set the radius of the circle element
                        .attr("r", function(d) { 
                            //if there are no books at that place in the current parameter window - radius is 0
                            if (location_dict[simplify_string(d.properties.name)] === 0){
                                return 0;
                            } else {
                                //if there are books at that place in the current window - radius is proportional to number of books - determined   in reset_map
                                return location_dict[simplify_string(d.properties.name)].max_circle_radius;
                            };
                        });
                    polygons = d3.geom.voronoi(positions);
                    for (var i=0;i<polygons.length;i++){//i polygons
                        if (typeof polygons[i] != 'undefined') {
                            latlngs = []; //latlng for polygon i
                            for (var j=0;j<polygons[i].length;j++){ //j points in polygon i
                                latlng_point = map.layerPointToLatLng(polygons[i][j]);
                                latlngs[j] = [latlng_point.lat,latlng_point.lng];
                            }
                            location_dict[simplify_string(names[i].properties.name)].polygon = L.polygon(latlngs, {
                                fillOpacity: 0, //polygons made invisible
                                weight: document.getElementById("voronoi").checked*.5,//polygon edges shown if box is checked 
                                color: 'black',
                                zIndexOffset: -100000000,
                                className: names[i].properties.name
                            }).addTo(map); 
                            //EventListeners - respond to clicking or mousing over the voronoi diagram
                            location_dict[simplify_string(names[i].properties.name)].polygon.on('click',voronoi_click);
                            location_dict[simplify_string(names[i].properties.name)].polygon.on('mouseover',voronoi_mouseover);
                        } else { //This is a hack to make sure that even the data with errors in them have voronoi diagrams
                            location_dict[simplify_string(names[i].properties.name)].polygon = L.polygon([[0,0],[0,0],[0,0]], {
                                weight: 0.5,
                            }).addTo(map); 
                        }
                    }
                }
            });

            //Filling the Book array and author dictionary
            d3.json(Json_Books, function(books) {
                //setup the location_dict
                books.forEach(function(d,i) {
                    book_array.push(d);
                    if (d.hasOwnProperty("Author")){
                        author = simplify_string(d["Author"]);
                        if (!author_dict.hasOwnProperty(author)){
                            author_dict[author] = [d]
                        } else {
                            author_dict[author].push(d);
                        }
                    } 
                });
            });;


            /*
                Functions past this point are on(event) functions
            */



            //Responds when voronoi is moused over
            function voronoi_mouseover(e){
                var polygon = e.target;
                mouseover_fun(simplify_string(polygon.options.className));        
            }

            //seperated so this can be called seperately
            function mouseover_fun(simp_name){
                polygon = location_dict[simp_name].polygon;
                //start by removing all highlighted regions
                remove_highlights();
                //then highlight particular region
                d3.select('#' + simp_name)
                    .style("fill","red")
                location_dict[simplify_string(polygon.options.className)].highlighted = true;
            }


            //Opens popup over circle when voronoi is moused over
            function voronoi_click(e){
                var polygon = e.target;
                click_fun(simplify_string(polygon.options.className));        
            }

            function click_fun(simp_name){
                mouseover_fun(simp_name); //deal with coloring
                polygon = location_dict[simp_name].polygon;
                d = location_dict[simplify_string(polygon.options.className)];
                L.popup({'maxHeight': 200})
                    .setLatLng(d.geometry.coordinates)
                    //.setContent(d.properties.name+'</br> Longitude: ' + Math.round(coordinates[1]*100)/100 +' Latitude: ' + Math.round(coordinates[0]*100)/100 +'</br> Total Published: ' + d.TotalPublished + '</br> Amount Published Between ' + slider_start + ' and ' + slider_end + ': ' + d.num_books_in_range)
                    .setContent('<div>' +
                        d.properties.name + '</br>' +
                        'Longitude:' + Math.round(coordinates[1]*100)/100 + ' Latitude: '+ Math.round(coordinates[0]*100)/100 + '</br>'  +
                        'Total Published: ' + d.properties.books.length+ '</br>' + 
                        'Amount Published Between ' + slider_start + ' and ' + slider_end + ': ' + d.num_books_in_range + '</br>' +
                        get_book_string(d,slider_start,slider_end) + '</div>')
                    .openOn(map);    
            }



            /*
                These functions are HTML event functions
            */


            //runs when show Voronoi checkbox is checked or unchecked
            function toggle_voronoi(){
                for (var i=0;i<names.length;i++){
                    polygon = location_dict[simplify_string(names[i].properties.name)].polygon;
                    polygon.setStyle({
                        weight: (Math.ceil(polygon.options.weight)^1)/2 // :) fun with xor
                    });
                }
            }

            //Runs when the user clicks search
            function Search(search_type){
                //first - reset the highlighted circles back to blue
                remove_highlights();
                //get the search term
                value = simplify_string(searchBox.value);
                //empty the search box
                fillSearchedBox('');
                //find all locations that include that name
                searched_box_string = ""
                if (value.length<3){//if search term is too short
                        searched_box_string = "Please Enter a Search Term of 3 or More Characters"
                } else if (search_type == 'place'){
                    for (var i=0;i<names.length;i++){
                        place_name = names[i].properties.name;
                        simp_name = simplify_string(names[i].properties.name);
                        if (simp_name.search(value) != -1){ //check if the search term is in the name of the place
                            d3.select('#' + simp_name).style("fill","red");
                            words_on_button = (place_name + ": " + location_dict[simp_name].properties.books.length + "</br>");
                            button_html = '<button class="searched_box_buttons" onclick= click_fun("'+simp_name+'"); > ' + words_on_button + ' </button>';
                            searched_box_string += button_html + "</br>";
                            location_dict[simp_name].highlighted = true;
                        }
                    }
                } else if(search_type=='book'){
                    for (var i=0;i<book_array.length;i++){
                        book = book_array[i];
                        place_name = book.GeoPlace;
                        library_included = true;
                        if (book.hasOwnProperty("Library")){
                            library_included = contains(library_array,book['Library']);
                        }
                        //if book is currently included
                        if (book.Year>=slider_start && book.Year<=slider_end && library_included && simplify_string(book.ShortTitle).search(simplify_string(value)) != -1 && typeof(place_name)=="string") { //check if book is included and if the search term is in the name of the book
                            simp_name = simplify_string(place_name);
                            if (typeof(location_dict[simp_name])=="object"){
                                d3.select('#' + simp_name).style("fill","red");
                                link_id = book.bib.substring(0,8);
                                words_on_button = (place_name + ": " + book.ShortTitle + ": " + book.Year +"</br>");
                                button_html = '<button class="searched_box_buttons" onclick= URL_prompt("'+link_id+'"); > ' + words_on_button + ' </button>';
                                searched_box_string += button_html + "</br>";
                                location_dict[simp_name].highlighted = true;
                            }
                        }
                    }
                } else if (search_type=='author'){
                    for ( var author in author_dict){
                        if (simplify_string(author).search(simplify_string(value)) != -1){//if the search term is in author's name
                            words_on_button =  author_dict[author][0]["Author"] + "</br>";
                            button_html = '<button class="searched_box_buttons" onclick= show_author_books("'+author+'"); > ' + words_on_button + ' </button>';
                            searched_box_string += button_html + "</br>";                        
                        }
                    }
                }
                searchedBox.innerHTML = searched_box_string;
            }

            function URL_prompt(id){
                link = '<a href = http://library.brown.edu/find/Record/' + id + '> Library Record?  </a> </br>';
                back_button = '<button onclick=Search("book")> Go Back  </button>';
                fillSearchedBox('Would you like to go to the ' + id + link + back_button);
                
            }

            function show_author_books(name){
                if (!author_dict.hasOwnProperty(author)){ //cut out if there is an error in transmitting author's name
                    return
                } 
                //full_name = author_dict[name][0].Author;
                fillSearchedBox('');
                //find all locations that include that name
                searched_box_string = ""
                searchBox.value = name;
                for (var i=0;i<author_dict[name].length;i++){
                    book = author_dict[name][i];
                    place_name = book.GeoPlace;
                    library_included = true;
                    if (book.hasOwnProperty("Library")){
                        library_included = contains(library_array,book['Library']);
                    }
                    //if book is currently included
                    if (book.Year>=slider_start && book.Year<=slider_end && library_included && typeof(place_name)=="string") { //check if book is included and if the search term is in the name of the book
                        simp_name = simplify_string(place_name);
                        if (typeof(location_dict[simp_name])=="object"){
                            d3.select('#' + simp_name).style("fill","red");
                            link_id = book.bib.substring(0,8);
                            words_on_button = (place_name + ": " + book.ShortTitle + ": " + book.Year +"</br>");
                            button_html = '<button class="searched_box_buttons" onclick= URL_prompt("'+link_id+'"); > ' + words_on_button + ' </button>';
                            searched_box_string += button_html + "</br>";
                            location_dict[simp_name].highlighted = true;
                        }
                    }
                }
                searchedBox.innerHTML = searched_box_string;
            }
            //This function moves the slider at a fixed pace. The sliding can be stopped midway through by setting the variable sliding to false. If typeThree, the slider slides based on its initial values
            function slide(left_slide,right_slide){
                sliding ^= true;
                if (sliding==true){
                    //change the text on the slide button
                    document.getElementById("singleSlideButton").innerHTML = "Click to Stop";
                    document.getElementById("doubleSlideButton").innerHTML = "Click to Stop";
                    $(document).ready(function(){
                        //set initial values
                        if (!right_slide){
                            slider_end = 0;
                            slider_start = 0;
                        }
                        //increment the slider values after a short delay - kind of like a timer in java or a game loop in pygame
                        timer  = setInterval(function(){
                            slider_end += right_slide ;
                            slider_start += left_slide;
                            //set the slider's values with JQuery
                            $("#slider").slider({ values:[slider_start,slider_end]});
                            //check is the slider has finished yet
                            if (slider_end > slider_right_limit-1 || sliding == false) {
                                clearTimeout(timer);
                                sliding = false;
                                //change the text back
                                document.getElementById("singleSlideButton").innerHTML = "Single Slide";
                                document.getElementById("doubleSlideButton").innerHTML = "Double Slide";
                            }
                        },600);
                    });
                }
            }

            //Set values in slider to the values in the input boxes
            function set_slider(){
                $("#slider").slider({ values:[slider_start_box.value,slider_end_box.value]});
            }



            //set the languages and librarys
            function check_classifier() {
                //library section
                library_array = [];
                if (document.getElementById("Hay_Check").checked){
                    library_array.push('hay');
                }
                if (document.getElementById("JCB_Check").checked){
                    library_array.push('jcb');
                }               
                $("#slider").slider({ values:[slider_start,slider_end]}); //bcuz we cant call reset_map from outside of the d3 call

            }

            /*
                All of the functions past this point are utility functions
            */

            //Check membership in an array
            function contains(a, obj) {
                for (var i = 0; i < a.length; i++) {
                    if (simplify_string(a[i]) === simplify_string(obj)) {
                        return true;
                    }
                }
                return false;
            }


            //some regular expression magic to remove all spaces and commas from the Name id, and to make all letters lowercase
            function simplify_string(string){
                string = string.replace(/ /g,'');
                string = string.replace(",",'');
                string = string.replace("&",'');
                string = string.replace(".",'');
                string = string.replace("-",'');
                string = string.toLowerCase();
                return string;
            }

            //this function fills the searchedBox
            function fillSearchedBox(string){
                searchedBox.innerHTML = string;
            }

            //clears all highlighted regions
            function remove_highlights(){
                d3.selectAll('circle')
                    .style("fill","blue")
                for (var i=0;i<names.length;i++){
                    location_dict[simplify_string(names[i].properties.name)].highlighted = false;
                }
            }

            //this function determines the number of books published at this publishing location (at the current library and language) between the 2 input dates.
            function num_books_published(d,start_date,end_date){
                num_books = 0;
                for (var i=0;i<d.properties.books.length;i++){
                    book = d.properties.books[i];
                    if (book.Year>=start_date && book.Year<=end_date && contains(library_array,book['Library'])){
                        num_books ++;
                    }
                }
                return num_books;
            }

            //Returns an html string that contains info about the books currently included. 
            function get_book_string(d,start_date,end_date){
                html_string = "</br>-------------------------------------</br> Books: </br>";
                for (var i=0;i<d.properties.books.length;i++){
                    book = d.properties.books[i];
                    //NOTE - RIGHT NOW THE BIBID WILL ONLY LINK CORRECTLY IF YOU TAKE THE FIRST 8 CHARACTERS - RATHER THAN THE FULL 9 CHAR ID
                    if (book.Year>=start_date && book.Year<=end_date){
                        link_id = book.bib.substring(0,8);
                        html_string += '<a href = http://library.brown.edu/find/Record/' + link_id + '>' + book.ShortTitle + ': ' + book.Year + '</a> </br>';
                    }
                }
                return html_string
            }




            </script>

{% endblock %} <!-- end content block -->