<!DOCTYPE html>
<html>
    <head>
    	{% block head %}
    	<title>{% block title %}{% endblock %} | Mapping Colonial Americas Publishing Project</title>
    	<link type="text/css" rel="stylesheet" href={{url_for('static', filename='styles/genres.css')}}/>
    	{% block scripts %}<!-- Space for additional javascript, jquery, or css -->{% endblock %}
    	{% endblock %} <!-- end of block 'head' -->
    </head>
    <body>
    	<div id="allcontent">
	    	<div id ="header">
	    		<a href={{url_for("home")}}><img src={{url_for('static', filename="images/HeaderGraphic.jpg")}}></a>
	    		<div id="creators">
	    			<p> <span class="smallcaps">created by</span>
	    				<a target="_blank" href="http://research.brown.edu/myresearch/James_Egan">Jim Egan</a> &amp;
	    				<a target="_blank" href="http://www.jeanbauer.com">Jean Bauer</a>&nbsp;
	    			</p>
	    		</div><!-- end creators -->
	    	</div><!-- end header -->
	    	<div id="content">
	    		{% block content%}
	    		{% endblock %}
	    	</div><!--end content -->
	    	<div id="footer">
				<p><em>The Mapping Colonial Americas Publishing Project</em></p>
				<div id="footer_credits">
					<a target="_blank" href="http://library.brown.edu"><img src={{url_for('static', filename="images/brown.gif")}} title="Brown University Library"></a>
					<a target="_blank" href="http://library.brown.edu/cds"><img src={{url_for('static', filename="images/CDS_orange_circle.png")}} title="A Center for Digital Scholarship Project"></a>
				</div>
			</div><!--end footer-->
    	</div><!-- end allcontent -->
    </body>
</html>