{% extends "base.html"%}
{% block title %}Welcome{% endblock %}
{% block content%}
	    	<div id="wrapper">
	    		<div id="main">
		    		<p><b><em>The Mapping Colonial Americas Publishing Project</em></b> aims to visualize New World printing over geographic space and across literary genres from European contact to 1800.</p>  

		    		<p>The project began as a teaching tool to allow students unfamiliar with the history of colonial British-American reading and printing practices to see the range of genres published in Europe's American colonies and to demonstrate the regional differences in reading and publishing habits.</p>

		    		<p>While the project's pedagogical goals remain crucial, early data visualizations suggest that the project could be expanded to investigate deeper patterns in New World colonial publishing.</p>  

		    		<p>The visualizations below represent early drafts.  We invite you to explore the site and offer your own thoughts and suggestions on the project.</p>	
				</div><!-- end main -->
				<div id="sidebar">
					<p>The data for these initial visualizations has been graciously provided by </p> 
					<ul>
						<li><a target="_blank" href="http://www.americanantiquarian.org/">American Antiquarian Society</a></li>
						<li><a target="_blank" href="http://www.brown.edu/academics/libraries/john-carter-brown/">John Carter Brown Library</a></li>
						<li><a target="_blank" href="http://library.brown.edu/about/hay/">John Hay Library</a></li>
					</ul>
					<p>Additional programming by <a target="_blank" href="https://github.com/dshieble">Dan Shiebler</a>.</p>
					<p>Data processing, cleaning, and geolocating is ongoing for these data sets, but the code for this website, including the data files used in these visualizations, is available on <a target="_blank" href="https://github.com/Brown-University-Library/mapping-genres-data">github</a>.</p>
					<p>If you have data you are interested in sharing with the project, please contact <a href="mailto:patrick_rashleigh@brown.edu">patrick_rashleigh@brown.edu</a> or just send us a pull request.</p>
				</div><!--end sidebar -->
			</div><!-- end wrapper -->
			<div id="gallery">
				<h2>The Gallery, being a series of ongoing experiments</h2>
				<p>Visualization allows us to understand a topic in ways that can either reinforce or challenge conventional wisdom, while also fostering surprising and unexpected insights.  Click any image below to begin your exploration.</p>
				<table>
					<tr>
						<td>
							<a href={{url_for("brown_spatial_explorer")}}>
								<img src={{url_for('static', filename="images/Spatial-Explorer-Thumbnail.png")}}>
								<p class="caption">Brown Library Spatial Explorer</p>
							</a>
						</td>
						<td>
							<a href={{url_for("brown_map")}}>
								<img src={{url_for('static', filename="images/HayJCBMap.png")}}>
								<p class="caption">JCB and Hay Collections</p>
							</a>
						</td>
						<td>
							<a href={{url_for("aas_subjects")}}>
								<img src={{url_for('static', filename="images/BubblesImage.png")}}>
								<p class="caption">American Antiquarian Society Genres</p>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href={{url_for("first_brown_slider")}}>
								<img src={{url_for('static', filename="images/SliderImage.png")}}>
								<p class="caption">New World Timelapse Map</p>
							</a>
						</td>
						<td>
							<a href={{url_for("aas_map")}}>
								<img src={{url_for('static', filename="images/USMapImage.png")}}>
								<p class="caption">American Antiquarian Society Map</p>
							</a>
						</td>
						<td>
							<a href={{url_for("first_brown_map")}}>
								<img src={{url_for('static', filename="images/WorldMapImage.png")}}>
								<p class="caption">North and South America</p>
							</a>
						</td>
					</tr>
				</table>
			</div><!-- end gallery -->
{% endblock %}